html
    head
        title Sukie is awesome
        link(rel='stylesheet', href='https://storage.googleapis.com/code.getmdl.io/1.0.5/material.blue_grey-blue.min.css')
        script(src='https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons', type="text/css")
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700', type="text/css")
        link(rel='stylesheet', href='/css/main.css')
    body
        div(class='mdl-layout mdl-js-layout mdl-color--grey-100')
            header(class='mdl-layout__header mdl-layout--fixed-header')
                div(class='mdl-layout__header-row')
                    h1(class='mdl-layout-title') Sukie is Awesome
            main(class='mdl-layout__content')
                div(class='mdl-grid')
                    div(class='mdl-cell mdl-cell--3-col')
                    div(class='image-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col' style="background-image: url('/images/Sukie1.jpg');")
                        div(class='mdl-card__title mdl-card--expand')
                        div(class='mdl-card__actions')
                            span(class='card-comment') I waitz.
                div(class='mdl-grid')
                    div(class='mdl-cell mdl-cell--3-col')
                    div(class='image-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col' style="background-image: url('/images/Sukie2.jpg');")
                        div(class='mdl-card__title mdl-card--expand')
                        div(class='mdl-card__actions')
                            span(class='card-comment') HAPPY!
                div(class='mdl-grid')
                    div(class='mdl-cell mdl-cell--3-col')
                    div(class='image-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col' style="background-image: url('/images/Sukie3.jpg');")
                        div(class='mdl-card__title mdl-card--expand')
                        div(class='mdl-card__actions')
                            span(class='card-comment') Zzzzz!
                div(class='mdl-grid')
                    div(class='mdl-cell mdl-cell--3-col')
                    div(class='image-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col' style="background-image: url('/images/Sukie4.jpg');")
                        div(class='mdl-card__title mdl-card--expand')
                        div(class='mdl-card__actions')
                            span(class='card-comment') I'm in a shop?!?
